<html>
    <head>
        <title>Game Note</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css"/>        
    </head>
    <body>
        <div id="container">
            <section id="gamePage">
                <div id="gameImage">
                    <img src="../img/<%= jsonData[gameId].shortname %>.jpg"/>
                </div>
                <section id="gameInfo">
                    <h2><%= jsonData[gameId].title %></h2>
                    <p><%= jsonData[gameId].description %></p>
                </section>
                <div id="gameNotes">                    
                    <form method="post" action="/addNote/<%= jsonData[gameId].id %>">
                        <input type="text" name="content"/>
                        <input type="submit" name="submit" value="+"/>
                    </form>
                    <ul>
                        <% for(var i = 0; i < jsonData[gameId].notes.length; ++i) {%>
                        <li><%= jsonData[gameId].notes[i] %> <a href="#">-</a></li>
                        <% } %>
                    </ul>
                </div>
            </section>
        </div>
    </body>
</html>